<html>

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/navbar'); %>
    <br><br>
    <%- include('partials/headline'); %>

    <div class="container">
        <div class="row">
             <div class="col-md-12">
              <img src="/images/main.jpg" class="img-responsive" alt="iLoveMyCity"/>
             </div>
      </div>
    </div>

    <%- include('partials/jsIncludes'); %>
</body>
</html>